

  .skills-section {
    background-color: var(--primaryColor);
    padding: 0 10% 0 10%;
    width: 100%;
    min-height: 100vh;
  
    .skills-container {
      width: 100%;
      display: flex;
      margin: 0;
      padding: 0;
   
      .left-inner-container {
        max-width: 50%;
        height: auto;
        font-size: 1rem;
        display: flex;
        flex-wrap: wrap;
        padding: 2% 0 0 2%;

        .skill-text-box {
          padding: 5px;

          p{
            font-size: 1rem;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
      
      .right-inner-container {
        max-width: 50%;
        height: 100vh; 
        display: flex;
        flex-wrap: wrap;

        .scroll-parent {
          position: relative;
          width: 40vw;
          height: 100%;
          overflow: hidden;

          .primary-0 {
            animation: primary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 0%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
          }
          
          .secondary-0 {
            animation: secondary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 0%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            // animation-delay: 14s;
          }

          .primary-1 {
            animation: primary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 30%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
          }
          
          .secondary-1 {
            animation: secondary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 30%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            // animation-delay: 14s;
          }

          .primary-2 {
            animation: primary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 60%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
          }
          
          .secondary-2 {
            animation: secondary 30s linear infinite;
            position: absolute;
            left: 100%;
            top: 60%;
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            // animation-delay: -1.5s;
          }

          @keyframes primary {
            0% {
              left: 0%;
            }
            100% {
              left: -100%;
            }
          }
          
          @keyframes secondary {
            0% {
              left: 100%;
            }
            100% {
              left: 0%;
            }
          }
          
          
          .skill-icon-box {
            width: 100%;
            height: 250px;
            display: flex;
            padding: 100px 0 20px 0;
          
            .skill-icon {
              width: 100px;
              height: auto;
              padding: 10px 20px;
              margin: 10px;
              border: 2px solid var(--secondaryColor);
              
              svg {
                width: 100%;
                height: 100%;
                padding: 2px;
              }
              img {
                width: 100%;
                height: 100%;
              }
              &:hover {
                
                svg {
                  transition: transform 1s ease;
                  transform: scale(1.2);
                }
                img {
                  transition: transform 1s ease;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }




