.skills-section {
  background-color: var(--primaryColor);
  padding: 0 10% 5% 10%;
  width: 100%;
  min-height: 100vh;

  .skills-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    .first-inner-container {
      width: 100%;
      height: auto;
      padding: 2% 0 0 0;

      h3 {
        font-size: var(--primaryH3);
      }

      p {
        font-size: var(--primaryParagraph);
        letter-spacing: 2px;
        // font-weight: 600;
      }
    }

    .second-inner-container {
      width: 100%;
      min-height: 30vh;
      display: flex;

      .scroll-parent {
        position: relative;
        display: flex;
        width: 100%;
        min-height: 25vh;
        overflow: hidden;

        .primary {
          animation: primary 30s linear infinite;
          position: absolute;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          width: fit-content;
          height: 100%;
        }

        .secondary {
          animation: secondary 30s linear infinite;
          position: absolute;
          overflow: hidden;
          display: flex;
          justify-content: space-between;
          width: fit-content;
          height: 100%;
        }

        @keyframes primary {
          0% {
            //left: 0%;
            transform: translateX(0%);
          }
          100% {
            //left: -100%;
            transform: translateX(-100%);
          }
        }

        @keyframes secondary {
          0% {
            //left: 100%;
            transform: translateX(100%);
          }
          100% {
            //left: 0%;
            transform: translateX(0%);
          }
        }

        .skill-icon-box {
          width: 100%;
          max-height: 100%;
          min-height: 65px;
          //will-change: transform; /* Add this line */
          /* ... other styles */

          .skill-icon {
            width: 100%;
            height: auto;
            min-height: 65px;
            padding: 1% 2%;
            margin: 2%;
            border: 2px solid var(--secondaryColor);

            svg {
              width: 100%;
              height: 100%;
              padding: 2px;
            }
            img {
              width: 100%;
              height: 100%;
              padding: 5%;
            }
            &:hover {
              svg {
                transition: transform 1s ease;
                transform: scale(1.2);
              }
              img {
                transition: transform 1s ease;
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .skills-section {
    .skills-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .first-inner-container {
        max-width: 100%;
        height: auto;

        .skill-text-box {
          padding: 0;
        }
      }

      .second-inner-container {
        max-width: 100vw;
        min-height: unset;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;

        .scroll-parent {
          position: relative;
          display: flex;
          width: 100%;
          min-height: 10vh;
          overflow: hidden;
          max-height: 20vh;

          .skill-icon-box {
            width: 100%;
            max-height: 100%;

            .skill-icon {
              padding: 2%;
              shape-rendering: auto;

              svg {
                width: 100%;
                height: 100%;
                padding: 2px;
              }
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .skills-section {
    .skills-container {
      .first-inner-container {
        max-width: 100%;
        height: auto;
      }

      .second-inner-container {
        max-width: 100vw;
        min-height: unset;
        height: 10vh;
        display: flex;
        flex-wrap: wrap;

        .scroll-parent {
          position: relative;
          display: flex;
          width: 100%;
          min-height: 10vh;
          overflow: hidden;

          .skill-icon-box {
            width: 100%;
            height: 10vh;
            // min-height: 65px;

            .skill-icon {
              width: 100%;
              height: auto;
              padding: 1% 2%;
              margin: 2%;
              border: 2px solid var(--secondaryColor);

              svg {
                width: 100%;
                height: 100%;
                padding: 0;
              }
              img {
                width: 100%;
                height: 100%;
                padding: 0;
              }
              &:hover {
                svg {
                  transition: transform 1s ease;
                  transform: scale(1.2);
                }
                img {
                  transition: transform 1s ease;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}
