
.about-section {
  background-color: var(--primaryColor);
  padding: 0 10% 5% 10%;
  width: 100%;

  // First container
  .about-container-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    

    .left-inner-container {
      max-width: 50%;
      height: auto;
      font-size: 1.5rem;
      padding: 15% 0 0 2%;
    }

    .right-inner-container {
      max-width: 50%;
      height: auto; 
      padding: 1% 0.5% 1rem 1%;
      img {
        height: auto;
        width: 90%;
        border: 2px solid var(--secondaryColor);
      }
    }
  }

  // Second container
  .about-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .left-inner-container {
      max-width: 50%;
      height: auto;
      font-size: 1rem;
      padding: 10% 0 0 2%;
    }

    .right-inner-container {
      max-width: 50%;
      height: auto; 
      padding: 10% 0 0 1%;

      p{
        font-size: 1rem;
        letter-spacing: 2px;
        font-weight: 600;
      }
     

      .work-experience {
        padding-bottom: 1.5rem;

        h5 {
          border-bottom: 2px solid var(--secondaryColor);
          padding-bottom: 8px;
          font-size: 1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {

  .about-section {
    background-color: var(--primaryColor);
    padding: 0 10% 5% 10%;
    width: 100%;
  
    // First container
    .about-container-1 {

      .left-inner-container {
        font-size: 0.8rem;
        padding: 5% 0 0 2%;

        h1 {
          font-size: 0.8rem;
        }
      }
  
      .right-inner-container {
        padding: 5% 0.5% 1rem 1%;

        img {
          width: 100%;
        }
      }
    }
  
    // Second container
    .about-container-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  
      .left-inner-container {
        font-size: 0.6rem;
        max-width: 100%;
      }
  
      .right-inner-container {
        padding: 0 0 0 1%;
        width: 100%;
        max-width: 100%;
  
        p{
          font-size: 0.6rem;
        }
       
        .work-experience {
          padding-bottom: 0.5rem;
  
          h5 {
            border-bottom: 2px solid var(--secondaryColor);
            padding-bottom: 6px;
            font-size: 0.6rem;
            // text-transform: uppercase;
          }
        }
      }
    }
  }

}

