
.about-section {
  background-color: var(--primaryColor);
  padding: 0 10% 5% 10%;
  width: 100%;

  // First container
  .about-container-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .left-inner-container {
      max-width: 50%;
      height: auto;
      padding: 10% 0 0 2%;

      h2 {
        font-size: var(--primaryH2);
      }
    }

    .right-inner-container {
      max-width: 50%;
      height: auto; 
      padding: 1.5% 0.5% 1% 1%;
      img {
        height: auto;
        width: 90%;
        border: 2px solid var(--secondaryColor);
      }
    }
  }

  // Second container
  .about-container-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    .left-inner-container {
      max-width: 40%;
      height: auto;
      padding: 10% 0 0 2%;

      h3 {
        font-size: var(--primaryH3);
      }
    }

    .right-inner-container {
      max-width: 60%;
      height: auto; 
      padding: 10.5% 0 0 1%;

      p{
        font-size: var(--primaryParagraph);
        letter-spacing: 2px;
        white-space:pre-line;
      }
     

      .work-experience {
        padding-bottom: 1.5rem;

        h5 {
          border-bottom: 2px solid var(--secondaryColor);
          padding-bottom: 8px;
          font-size: var(--primaryH5);
        }
      }
    }
  }
}

@media only screen and (max-width: 680px) {

  .about-section {
    background-color: var(--primaryColor);
    padding: 0 10% 5% 10%;
    width: 100%;
  
    // First container
    .about-container-1 {
      display: flex;
      flex-wrap: wrap-reverse;

      .left-inner-container {
        max-width: 100%;
        padding: 0 0 0 2%;
      }
  
      .right-inner-container {
        max-width: 100%;
        padding: 5% 0.5% 1rem 1%;

        img {
          width: 100%;
        }
      }
    }
  
    // Second container
    .about-container-2 {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
  
      .left-inner-container {
        max-width: 100%;
      }
  
      .right-inner-container {
        padding: 0 0 0 1%;
        width: 100%;
        max-width: 100%;
       
        .work-experience {
          padding-bottom: 0.5rem;
  
          h5 {
            margin-bottom: 2%;
            padding-bottom: 6px;
          }
        }
      }
    }
  }

}

