

.contact-section {
  background-color: var(--primaryColor);
  padding: 0 10% 0 10%;
  width: 100%;
  min-height: 90vh;

  .contact-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
 
    .left-inner-container {
      max-width: 50%;
      height: auto;
      color: var(--secondaryColor);
      padding: 0 0 0 2%;

      h3 {
        font-size: var(--primaryH3);
        margin: 0;
        margin-bottom: 5%;
      }

      h5 {
        font-size: var(--primaryH5);
        margin: 2% 0;
      }
      
      p{
        font-size: var(--primaryParagraph);
        letter-spacing: 2px;
        padding-right: 7%;
        margin: 0;
      }
    }
    
    .right-inner-container {
      max-width: 50%;
      height: auto; 
      padding: 7% 0.5% 1rem 0.5rem;
      
      .contact-form .input-box {
        padding: 1rem .75rem;
        line-height: 1.5;
        color: var(--secondaryColor);
        background-color: var(--primaryColor);
        border-radius: 0 !important;
        border: 1px solid var(--secondaryColor);
        font-size: var(--primaryParagraph);
      }
      
      .contact-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input  {
          width: 48%;
        }

        .text {
          width: 100%;
          margin: 2rem 0 1rem;
          padding: 1rem .75rem 5rem;
          font-size: var(--primaryParagraph);
        }

        .btn-one {
          padding: .5rem 1.5rem;
          color: var(--secondaryColor);
          background-color: var(--primaryColor);
          border-radius: 0 !important;
          border: 1px solid var(--secondaryColor);

          &:hover {
            transition: transform 1s ease;
            transform: scale(1.1);
            box-shadow: 1px 1px var(--secondaryColor);
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .contact-section {
    background-color: var(--primaryColor);
    padding: 0 10% 0 10%;
    width: 100%;
    min-height: 70vh;
  
    .contact-container {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-top: 5%;
   
      .left-inner-container {
        max-width: 100%;
        height: auto;
        color: var(--secondaryColor);
        padding: 0 0 4% 2%;

      }
      
      .right-inner-container {
        max-width: 100%;
        height: auto; 
        padding: 1% 0.5% 1rem 0.5rem;
        
        .contact-form .input-box {
          padding: 1rem .75rem;
          line-height: 1.5;
          color: var(--secondaryColor);
          background-color: var(--primaryColor);
          border-radius: 0 !important;
          border: 1px solid var(--secondaryColor);
          font-size: 0.6rem;
        }
        
        .contact-form {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
  
          .input  {
            width: 48%;
            height: 2rem
          }
  
          .text {
            width: 100%;
            height: 5rem;
            margin: 1rem 0 1rem;
            padding: 1rem .75rem 5rem;
            font-size: 0.6rem;
          }
  
          .btn-one {
            padding: .25rem .75rem;
            color: var(--secondaryColor);
            background-color: var(--primaryColor);
            border-radius: 0 !important;
            border: 1px solid var(--secondaryColor);
          }
        }
      }
    }
  }
}