

.contact-section {
  background-color: var(--primaryColor);
  padding: 0 10% 0 10%;
  width: 100%;
  min-height: 100vh;

  .contact-container {
    width: 100%;
    display: flex;
    margin-top: 4%;
    padding: 0;
 
    .left-inner-container {
      max-width: 50%;
      height: auto;
      color: var(--secondaryColor);
      font-size: 2rem;
      
      h3 {
        margin: 0;
      }
    }
    
    .right-inner-container {
      max-width: 50%;
      height: auto; 
      padding: 1% 0.5% 1rem 0.5rem;
      
      .contact-form .input-box {
        padding: 1rem .75rem;
        line-height: 1.5;
        color: var(--secondaryColor);
        background-color: var(--primaryColor);
        border-radius: 0 !important;
        border: 1px solid var(--secondaryColor);
        font-size: 1rem;
      }
      
      .contact-form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .input  {
          width: 48%;
        }

        .text {
          width: 100%;
          margin: 2rem 0 1rem;
          padding: 1rem .75rem 5rem;
          font-size: 1.1rem;
        }

        button {
          padding: .5rem 1.5rem;
          color: var(--secondaryColor);
          background-color: var(--primaryColor);
          border-radius: 0 !important;
          border: 1px solid var(--secondaryColor);

          &:hover {
            transform: scale(1.1);
            box-shadow: 1px 1px white;
          }
        }
        

      }



    }
  }
}