.navbar-container {
  display: flex;
  justify-content: space-between;
}

/* .navbar-logo-container {
  max-height: 80px;
  max-width: 80px;
  margin: 15px 0 15px 60px;
}

.navbar-logo {
  height: 100%;
} */

.navbar-logo-name {
  position: absolute;
  z-index: 9;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 0.8rem;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  font-family: Nunito, sans-serif;
}


/* --- Menu Bars ------------------------------------ */

.nav-menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
  
  .nav-menu-bar1,
  .nav-menu-bar2,
  .nav-menu-bar3 {
    width: 35px;
    height: 2px;
    background-color: var(--secondaryColor);
    margin: 8px 0;
    transition: 0.4s;
  }
}


/* Rotate first bar */
.change-bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change-bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change-bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}


