@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --primaryColor: black;
  --secondaryColor: whitesmoke;
  --navColor1: #21292c;
  --navColor2: #076969;
  --navColor3: #133175;
  --navColor4: #AF780B;
  --navColor5: #AF550B;
}


* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

body {
  margin: 0;
  background: whitesmoke;
  font-family: Nunito, sans-serif;
}







