@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;

  --primaryParagraph: calc(0.6rem + 0.7vw);
  --primaryH1: calc(1rem + 2vw);
  --primaryH2: calc(1rem + 1.6vw);
  --primaryH3: calc(0.7rem + 1.5vw);
  --primaryH4: calc(0.7rem + 1.1vw);
  --primaryH5: calc(0.7rem + 0.8vw);
}

.App {
  text-align: center;
}

html {
  font-size: 16px;
}

body {
// ----------main colors-----------
  --primaryColor:#000000;
  --secondaryColor:#f5f5f5;
  --navColor1:#21292c;
  --navColor2:#076969;
  --navColor3:#133175;
  --navColor4:#AF780B;
  --navColor5:#AF550B;

  margin: 0;
  // font-family: Nunito, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primaryColor);
}

body.dark {
  --primaryColor:#f5f5f5;
  --secondaryColor:#000000;
  --navColor1:#21292c;
  --navColor2:#076969;
  --navColor3:#133175;
  --navColor4:#AF780B;
  --navColor5:#AF550B;

  
  margin: 0;
  // font-family: Nunito, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primaryColor);
}



section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--secondaryColor);
  padding: 0 5%;

  .section-header {
    font-size: 2rem;
    padding-bottom: 3px;
    width: 80%;
    color: var(--secondaryColor);

    h1 {
      padding-bottom: 3px;
      border-bottom: 1px solid var(--secondaryColor);
      margin: 2% 0 2% 0; 
      text-transform: uppercase;
      font-size: var(--primaryH1);
    }
  }
}

@media only screen and (max-width: 480px) {

  #root {
    margin: 0;
  }
  
body {
  --primaryColor:#000000;
  --secondaryColor:#f5f5f5;
  --navColor1:#21292c;
  --navColor2:#076969;
  --navColor3:#133175;
  --navColor4:#AF780B;
  --navColor5:#AF550B;

  margin: 0;
  // font-family: Nunito, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primaryColor);
}

body.dark {
  --primaryColor:#f5f5f5;
  --secondaryColor:#000000;
  --navColor1:#21292c;
  --navColor2:#076969;
  --navColor3:#133175;
  --navColor4:#AF780B;
  --navColor5:#AF550B;

  
  margin: 0;
  // font-family: Nunito, sans-serif;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primaryColor);
}

section {
  // width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  color: var(--secondaryColor);
  padding: 0 5%;

  .section-header {
    font-size: 1rem;
    padding-bottom: 3px;
    width: 80%;
    color: var(--secondaryColor);

    h1 {
      padding-bottom: 3px;
      border-bottom: 1px solid var(--secondaryColor);
      margin: 2% 0 2% 0; 
      text-transform: uppercase;
    }
  }
}

}







