* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

nav {
  height: 20vh;
  background-color: whitesmoke;
}

main {
  height: 100vh;
  background-color: black;
  border: solid 1px whitesmoke;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  height: 50vh;
  background-color: black;
  color: white;
}



