.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-logo-container {
  max-height: 80px;
  max-width: 80px;
  margin: 15px 0 15px 60px;
}

.nav-logo {
  height: 100%;
}



.nav-links-container {
  display: flex;
  justify-content: space-between;
  margin-right: 60px;
}

.nav-link {
  padding: 10px;
  margin: 15px 15px;
}
